<!DOCTYPE html>
<html>
  <head>
    <title>{{ name }}'s Resume</title>
    <link rel="stylesheet" type="text/css" href="resume.css?cache=nocache{{ range(1, 1000) | random }}">
  </head>

  <body>
    <article class="resume">

      <section class="name">
	{{ name }}
      </section>

      <section class="contact">
	<ul>
	  <li><a href="mailto:{{ email }}">{{ email }}</a></li>
	  <li>{{ location }}</li>
    	</ul>
      </section>

      <section class="experience">
        <h2>Experience</h2>
	{% for job in jobs %}
	<section class="job">
          <section class="jobtime">{{ job.time }}</section>
          <section class="company">{{ job.company }}</section>
	  <section class="jobtitle">{{ job.title }}</section>
	  <section class="blurb">{{ job.blurb }}</section>
	  <section class="details">
	    <ul>
              {% for detail in job.details  %}
              <li> {{ detail }} </li>
              {% endfor %}
            </ul>
	  </section>
	</section>
	{% endfor %}
      </section>

      <section class="education">
	<h2>Education</h2>
	{% for school in education.schools %}
          <section class="school">
	    <section class="schoolname">{{ school.name }}</section>
	    <section class="schooltime">{{ school.time }}</section>
	    <section class="gpa">{{ school.gpa }} GPA</section>
            <section class="degrees">{{ school.degrees | join(", ") }}
            <section class="degreedetails">
              <ul>
	      {% for detail in school.details  %}
                <li>{{ detail }}</li>
              {% endfor %}
	      </ul>
	    </section>
	  </section>
	{% endfor %}
      </section>
	  <section class="skills">
	    <h2>Skills</h2>
            <!-- Just to get indent like above -->
	    <section class="skillwrap">
	      <section class="skilldetails">
	    <table>
	    {% for skill in skills %}
	    <tr><td>{{ skill.level }}:</td><td>{{ skill.skills | join(", ") }}</td></tr>
	    {% endfor %}
	    </table>
          </section>
        </section>
      </section>
    </article>
  </body>
</html>
